body {
    visibility: hidden;
}

#message-box-left {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
}

#message-box-right {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
}

.alert-success {
    background-color: rgb(79, 255, 91);
    color: white;
}

.alert-error {
    background-color: rgb(252, 3, 65);
    color: white;
}

.table th, .table td {
    text-align: center;
}

.pagination {
    margin-top: 20px;
}

.actions-column button {
    width: 100px;
    margin-top: 5px;
}

.card .table-responsive {
    max-height: 300px; /* Adjust this to your preferred height */
    overflow-y: auto;
}

