body {
    visibility: hidden;
}

.indicator {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.power-indicator {
    font-weight: bold;
    font-size: 18px;
}

.btn-group-vertical button {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.btn-group-vertical button:hover {
    background-color: #0056b3 !important;
    color: white;
}

.alert {
    margin-top: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
}

.alert.d-none {
    display: none;
}
